In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

df_stars = pd.read_csv("Stars.csv")
df_adult = pd.read_csv("adult.csv")

1. Ulangi langkah pada kelas praktikum untuk dataset Star dan Adult. Masing masing gunakan perbandingan 0.2, 0.3, 0.4. Tuliskan akurasinya

Star

In [24]:
df_stars.drop(['Unnamed: 0'],axis='columns',inplace=True) #menghapus kolom 'Unnamed: 0'
df_stars.head()

,Temperature (K),Luminosity (L/Lo),Radius (R/Ro),Absolute magnitude (Mv),Star category
0,3068,0.002400,0.1700,16.12,Brown Dwarf
1,3042,0.000500,0.1542,16.60,Brown Dwarf
2,2600,0.000300,0.1020,18.70,Brown Dwarf
3,2800,0.000200,0.1600,16.65,Brown Dwarf
4,1939,0.000138,0.1030,20.06,Brown Dwarf

In [25]:
encoder = LabelEncoder()
df_stars['Star category'] = encoder.fit_transform(df_stars['Star category']) #mengonversi Star Category menjadi biner
df_stars.head()

,Temperature (K),Luminosity (L/Lo),Radius (R/Ro),Absolute magnitude (Mv),Star category
0,3068,0.002400,0.1700,16.12,0
1,3042,0.000500,0.1542,16.60,0
2,2600,0.000300,0.1020,18.70,0
3,2800,0.000200,0.1600,16.65,0
4,1939,0.000138,0.1030,20.06,0

In [26]:
features = df_stars.drop('Star category',axis='columns') #hapus star category di data features
target = df_stars['Star category'] #jadikan star category data target
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Temperature (K)          240 non-null    int64
 1   Luminosity (L/Lo)        240 non-null    float64
 2   Radius (R/Ro)            240 non-null    float64
 3   Absolute magnitude (Mv)  240 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 7.6 KB

In [27]:
model = GaussianNB() #model naive bayes

X_train1, X_test1, Y_train1, Y_test1 = train_test_split(features, target, test_size=0.2) #20%
model.fit(X_train1, Y_train1)
acc_1 = accuracy_score(Y_test1, model.predict(X_test1))

X_train2, X_test2, Y_train2, Y_test2 = train_test_split(features, target, test_size=0.3) #30%
model.fit(X_train2, Y_train2)
acc_2 = accuracy_score(Y_test2, model.predict(X_test2))

X_train3, X_test3, Y_train3, Y_test3 = train_test_split(features, target, test_size=0.4) #40%
model.fit(X_train3, Y_train3)
acc_3 = accuracy_score(Y_test3, model.predict(X_test3))

print(f"accuracy_score dari data test sebesar 20%:", acc_1)
print(f"accuracy_score dari data test sebesar 30%:", acc_2)
print(f"accuracy_score dari data test sebesar 40%:", acc_3)

accuracy_score dari data test sebesar 20%: 0.8958333333333334
accuracy_score dari data test sebesar 30%: 0.7638888888888888
accuracy_score dari data test sebesar 40%: 0.84375

Adult

In [28]:
df_adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [29]:
dummies = pd.get_dummies(df_adult['race']) #mengonversi nilai pada kolom ras dari kategorial menjadi binary
df_adult = pd.concat([df_adult,dummies],axis='columns')
df_adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,False,False,True,False,False
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,False,False,False,False,True
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,False,False,False,False,True
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,False,False,True,False,False
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K,False,False,False,False,True

In [30]:
df_adult.drop(['fnlwgt', 'education', 'race', 'capital-gain', 'capital-loss','hours-per-week', 'native-country', 'Amer-Indian-Eskimo','Asian-Pac-Islander', 'Other', 'White'],axis='columns',inplace=True) #menghapus kolom tidak perlu
df_adult.head()

,age,workclass,educational-num,marital-status,occupation,relationship,gender,income,Black
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Male,<=50K,True
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,Male,<=50K,False
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,Male,>50K,False
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Male,>50K,True
4,18,NaN,10,Never-married,NaN,Own-child,Female,<=50K,False

In [31]:
adult_columns = ['workclass', 'marital-status', 'occupation', 'relationship', 'gender', 'income', 'Black']
for col in adult_columns:
  df_adult[col] = encoder.fit_transform(df_adult[col]) #memberi label pada setiap nilai kategorikal

df_adult.head()

,age,workclass,educational-num,marital-status,occupation,relationship,gender,income,Black
0,25,3,7,4,6,3,1,0,1
1,38,3,9,2,4,0,1,0,0
2,28,1,12,2,10,0,1,1,0
3,44,3,10,2,6,0,1,1,1
4,18,8,10,4,14,3,0,0,0

In [32]:
features = df_adult.drop('Black',axis='columns') #menghapus black race dari data features
target = df_adult['Black'] #menjadikan black race data target

features.info() #mengecek null value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  int32
 2   educational-num  48842 non-null  int64
 3   marital-status   48842 non-null  int32
 4   occupation       48842 non-null  int32
 5   relationship     48842 non-null  int32
 6   gender           48842 non-null  int32
 7   income           48842 non-null  int32
dtypes: int32(6), int64(2)
memory usage: 1.9 MB

In [33]:
model = GaussianNB() #model naive bayes

X_train1, X_test1, Y_train1, Y_test1 = train_test_split(features, target, test_size=0.2) #20%
model.fit(X_train1, Y_train1)
acc_1 = accuracy_score(Y_test1, model.predict(X_test1))

X_train2, X_test2, Y_train2, Y_test2 = train_test_split(features, target, test_size=0.3) #30%
model.fit(X_train2, Y_train2)
acc_2 = accuracy_score(Y_test2, model.predict(X_test2))

X_train3, X_test3, Y_train3, Y_test3 = train_test_split(features, target, test_size=0.4) #40%
model.fit(X_train3, Y_train3)
acc_3 = accuracy_score(Y_test3, model.predict(X_test3))

print(f"accuracy_score dari data test sebesar 20%:", acc_1)
print(f"accuracy_score dari data test sebesar 30%:", acc_2)
print(f"accuracy_score dari data test sebesar 40%:", acc_3)

accuracy_score dari data test sebesar 20%: 0.8941549800388986
accuracy_score dari data test sebesar 30%: 0.8966082030983417
accuracy_score dari data test sebesar 40%: 0.8971182883759021

2. Untuk masing masing dataset carilah subset kombinasi dari atribut yang memberi hasil klasifikasi lebih baik dari data asli

In [34]:
df_stars = pd.read_csv("Stars.csv")
df_stars.drop(['Unnamed: 0'], axis='columns', inplace=True) #menghapus kolom 'Unnamed: 0'

labelencoder = LabelEncoder()
df_stars['Star category'] = labelencoder.fit_transform(df_stars['Star category']) #mengonversi kolom Star Category

features = df_stars.drop('Star category', axis='columns')
target = df_stars['Star category'] #membagi data feature dan target

model = GaussianNB()
sfs = SFS(model,
          k_features=(1, len(features.columns)),
          forward=True,
          floating=False,
          scoring='accuracy',
          cv=5) #membuat Sequential Forward Selection

sfs.fit(features, target) #membuat model SFS

selected_features = list(sfs.k_feature_names_) #mendapatkan nama feature

model.fit(features[selected_features], target) #menyeleksi subset dari features untuk akurasi model yang lebih baik

accuracy = accuracy_score(target, model.predict(features[selected_features])) #evaluasi model

print("Features terpilih:", selected_features)
print("accuracy_score didapat dari features terpilih:", accuracy)

Features terpilih: ['Radius (R/Ro)', 'Absolute magnitude (Mv)']
accuracy_score didapat dari features terpilih: 1.0

c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(

In [35]:
features.drop(['Temperature (K)', 'Luminosity (L/Lo)'],axis='columns',inplace=True)  #menghapus kolom yang berkorelasi rendah
features.head()

   Radius (R/Ro)  Absolute magnitude (Mv)
0         0.1700                    16.12
1         0.1542                    16.60
2         0.1020                    18.70
3         0.1600                    16.65
4         0.1030                    20.06

In [36]:
model = GaussianNB() #model naive bayes

X_train1, X_test1, Y_train1, Y_test1 = train_test_split(features, target, test_size=0.2) #20%
model.fit(X_train1, Y_train1)
acc_1 = accuracy_score(Y_test1, model.predict(X_test1))

X_train2, X_test2, Y_train2, Y_test2 = train_test_split(features, target, test_size=0.3) #30%
model.fit(X_train2, Y_train2)
acc_2 = accuracy_score(Y_test2, model.predict(X_test2))

X_train3, X_test3, Y_train3, Y_test3 = train_test_split(features, target, test_size=0.4) #40%
model.fit(X_train3, Y_train3)
acc_3 = accuracy_score(Y_test3, model.predict(X_test3))

print(f"accuracy_score dari data test sebesar 20%:", acc_1)
print(f"accuracy_score dari data test sebesar 30%:", acc_2)
print(f"accuracy_score dari data test sebesar 40%:", acc_3)

accuracy_score dari data test sebesar 20%: 1.0
accuracy_score dari data test sebesar 30%: 0.9861111111111112
accuracy_score dari data test sebesar 40%: 1.0

In [37]:
df_adult = pd.read_csv("adult.csv")
dummies = pd.get_dummies(df_adult['race']) #mengonversi nilai pada kolom ras dari kategorial menjadi binary
df_adult = pd.concat([df_adult,dummies],axis='columns') #menggabungkan hasil konversi dengan dataframe utama

df_adult.drop(['fnlwgt', 'education', 'race', 'capital-gain', 'capital-loss',
            'hours-per-week', 'native-country', 'Amer-Indian-Eskimo',
            'Asian-Pac-Islander', 'Other', 'White'],axis='columns',inplace=True) #menghapus kolom tidak perlu

adult_columns = ['workclass', 'marital-status', 'occupation', 'relationship', 'gender', 'income', 'Black']
for col in adult_columns:
  df_adult[col] = labelencoder.fit_transform(df_adult[col])  #memberi label pada setiap nilai kategorikal

features = df_adult.drop('Black',axis='columns') #menghapus black race dari features
target = df_adult['Black'] #menjadikan black race target

model = GaussianNB() #model naive bayes
sfs = SFS(model,
          k_features=(1, len(features.columns)),
          forward=True,
          floating=False,
          scoring='accuracy',
          cv=5) #membuat SFS model

sfs.fit(features, target) #membuat model SFS

selected_features = list(sfs.k_feature_names_) #mendapatkan nama feature

model.fit(features[selected_features], target) #menyeleksi subset dari features untuk akurasi model yang lebih baik

accuracy = accuracy_score(target, model.predict(features[selected_features])) #evaluasi model

print("Features terpilih:", selected_features)
print("accuracy_score didapat dari features terpilih:", accuracy)

c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(
c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(

Features terpilih: ['age']
accuracy_score didapat dari features terpilih: 0.9040784570656403

c:\Users\ASUS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:73: FutureWarning: `fit_params` is deprecated and will be removed in version 1.6. Pass parameters via `params` instead.
  warnings.warn(

In [38]:
features.drop(['workclass', 'educational-num', 'marital-status', 'occupation', 'relationship', 'gender', 'income'],axis='columns',inplace=True) #menghapus kolom korelasi rendah
features.head()

   age
0   25
1   38
2   28
3   44
4   18

In [39]:
model = GaussianNB() #model naive bayes

X_train1, X_test1, Y_train1, Y_test1 = train_test_split(features, target, test_size=0.2) #20%
model.fit(X_train1, Y_train1)
acc_1 = accuracy_score(Y_test1, model.predict(X_test1))

X_train2, X_test2, Y_train2, Y_test2 = train_test_split(features, target, test_size=0.3) #30%
model.fit(X_train2, Y_train2)
acc_2 = accuracy_score(Y_test2, model.predict(X_test2))

X_train3, X_test3, Y_train3, Y_test3 = train_test_split(features, target, test_size=0.4) #40%
model.fit(X_train3, Y_train3)
acc_3 = accuracy_score(Y_test3, model.predict(X_test3))

print(f"accuracy_score dari data test sebesar 20%:", acc_1)
print(f"accuracy_score dari data test sebesar 30%:", acc_2)
print(f"accuracy_score dari data test sebesar 40%:", acc_3)

accuracy_score dari data test sebesar 20%: 0.9026512437301668
accuracy_score dari data test sebesar 30%: 0.9054118610523443
accuracy_score dari data test sebesar 40%: 0.9052055074985924